# Created by https://www.toptal.com/developers/gitignore/api/python
# Edit at https://www.toptal.com/developers/gitignore?templates=python

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.cov
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
doc/_build/
_autosummary
doc/source/examples

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintainted in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# End of https://www.toptal.com/developers/gitignore/api/python
PyClientConsole.txt
PyClientOutgoing.txt
SCHEDULER SEQUENCE.dat
SUPER PROFILER OVER 50ms.dat
SUPER PROFILER.dat
PyClientConsole*.txt
PyClientOutgoing*.txt
TurboGridLog*.txt
# VSCode settings
.vscode

AxiFan-01A-MultiRow.tginit
AxiFan-01A-MultiRow.x_b
tests/mbr/5_stage_hannover/0_IGV_Vane.crv
tests/mbr/5_stage_hannover/0_IGV_Vane.inf
tests/mbr/5_stage_hannover/1_Rotor1_Blade.crv
tests/mbr/5_stage_hannover/1_Rotor1_Blade.inf
tests/mbr/5_stage_hannover/2_Stator1_Vane.crv
tests/mbr/5_stage_hannover/2_Stator1_Vane.inf
tests/mbr/5_stage_hannover/3_Rotor2_Blade.crv
tests/mbr/5_stage_hannover/3_Rotor2_Blade.inf
tests/mbr/5_stage_hannover/4_Stator2_Vane.crv
tests/mbr/5_stage_hannover/4_Stator2_Vane.inf
tests/mbr/5_stage_hannover/5_Rotor3_Blade.crv
tests/mbr/5_stage_hannover/5_Rotor3_Blade.inf
tests/mbr/5_stage_hannover/5_stage_hannover.TGMachine
tests/mbr/5_stage_hannover/6_Stator3_Vane.crv
tests/mbr/5_stage_hannover/6_Stator3_Vane.inf
tests/mbr/5_stage_hannover/7_Rotor4_Blade.crv
tests/mbr/5_stage_hannover/7_Rotor4_Blade.inf
tests/mbr/5_stage_hannover/8_Stator4_Vane.crv
tests/mbr/5_stage_hannover/8_Stator4_Vane.inf
tests/mbr/5_stage_hannover/Hub.crv
tests/mbr/5_stage_hannover/Shroud.crv
tests/mbr/DTCG50Compressor/DTCG50_compressor.cfx
tests/mbr/DTCG50Compressor/DTCG50.TGMachine
tests/mbr/DTCG50Compressor/HP bleed port_01.prt
tests/mbr/DTCG50Compressor/IGV_hub.curve
tests/mbr/DTCG50Compressor/IGV_profile.curve
tests/mbr/DTCG50Compressor/IGV_shroud.curve
tests/mbr/DTCG50Compressor/IGV.inf
tests/mbr/DTCG50Compressor/IGV.tst
tests/mbr/DTCG50Compressor/IPBP.prt
tests/mbr/DTCG50Compressor/layout.png
tests/mbr/DTCG50Compressor/OGV_hub.curve
tests/mbr/DTCG50Compressor/OGV_profile.curve
tests/mbr/DTCG50Compressor/OGV_shroud.curve
tests/mbr/DTCG50Compressor/OGV.inf
tests/mbr/DTCG50Compressor/OGV.tst
tests/mbr/DTCG50Compressor/plenum.prt
tests/mbr/DTCG50Compressor/R01_hub.curve
tests/mbr/DTCG50Compressor/R01_profile.curve
tests/mbr/DTCG50Compressor/R01_shroud.curve
tests/mbr/DTCG50Compressor/R01.inf
tests/mbr/DTCG50Compressor/R01.tst
tests/mbr/DTCG50Compressor/R02_hub.curve
tests/mbr/DTCG50Compressor/R02_profile.curve
tests/mbr/DTCG50Compressor/R02_shroud.curve
tests/mbr/DTCG50Compressor/R02.inf
tests/mbr/DTCG50Compressor/R02.tst
tests/mbr/DTCG50Compressor/R03_hub.curve
tests/mbr/DTCG50Compressor/R03_profile.curve
tests/mbr/DTCG50Compressor/R03_shroud.curve
tests/mbr/DTCG50Compressor/R03.inf
tests/mbr/DTCG50Compressor/R03.tst
tests/mbr/DTCG50Compressor/R04_hub.curve
tests/mbr/DTCG50Compressor/R04_profile.curve
tests/mbr/DTCG50Compressor/R04_shroud.curve
tests/mbr/DTCG50Compressor/R04.inf
tests/mbr/DTCG50Compressor/R04.tst
tests/mbr/DTCG50Compressor/R05_hub_d4.curve
tests/mbr/DTCG50Compressor/R05_profile.curve
tests/mbr/DTCG50Compressor/R05_shroud_d4.curve
tests/mbr/DTCG50Compressor/R05.inf
tests/mbr/DTCG50Compressor/R05.tst
tests/mbr/DTCG50Compressor/R06_hub.curve
tests/mbr/DTCG50Compressor/R06_profile.curve
tests/mbr/DTCG50Compressor/R06_shroud.curve
tests/mbr/DTCG50Compressor/R06.inf
tests/mbr/DTCG50Compressor/R06.tst
tests/mbr/DTCG50Compressor/R07_hub.curve
tests/mbr/DTCG50Compressor/R07_profile.curve
tests/mbr/DTCG50Compressor/R07_shroud.curve
tests/mbr/DTCG50Compressor/R07.inf
tests/mbr/DTCG50Compressor/R07.tst
tests/mbr/DTCG50Compressor/R08_hub.curve
tests/mbr/DTCG50Compressor/R08_profile.curve
tests/mbr/DTCG50Compressor/R08_shroud.curve
tests/mbr/DTCG50Compressor/R08.inf
tests/mbr/DTCG50Compressor/R08.tst
tests/mbr/DTCG50Compressor/R09_hub.curve
tests/mbr/DTCG50Compressor/R09_profile.curve
tests/mbr/DTCG50Compressor/R09_shroud.curve
tests/mbr/DTCG50Compressor/R09.inf
tests/mbr/DTCG50Compressor/R09.tst
tests/mbr/DTCG50Compressor/R10_hub.curve
tests/mbr/DTCG50Compressor/R10_profile.curve
tests/mbr/DTCG50Compressor/R10_shroud.curve
tests/mbr/DTCG50Compressor/R10.inf
tests/mbr/DTCG50Compressor/R10.tst
tests/mbr/DTCG50Compressor/R11_hub.curve
tests/mbr/DTCG50Compressor/R11_profile.curve
tests/mbr/DTCG50Compressor/R11_shroud.curve
tests/mbr/DTCG50Compressor/R11.inf
tests/mbr/DTCG50Compressor/R11.tst
tests/mbr/DTCG50Compressor/R12_hub.curve
tests/mbr/DTCG50Compressor/R12_profile.curve
tests/mbr/DTCG50Compressor/R12_shroud.curve
tests/mbr/DTCG50Compressor/R12.inf
tests/mbr/DTCG50Compressor/R12.tst
tests/mbr/DTCG50Compressor/R13_hub.curve
tests/mbr/DTCG50Compressor/R13_profile.curve
tests/mbr/DTCG50Compressor/R13_shroud.curve
tests/mbr/DTCG50Compressor/R13.inf
tests/mbr/DTCG50Compressor/R13.tst
tests/mbr/DTCG50Compressor/R14_hub.curve
tests/mbr/DTCG50Compressor/R14_profile.curve
tests/mbr/DTCG50Compressor/R14_shroud.curve
tests/mbr/DTCG50Compressor/R14.inf
tests/mbr/DTCG50Compressor/R14.tst
tests/mbr/DTCG50Compressor/R15_hub.curve
tests/mbr/DTCG50Compressor/R15_profile.curve
tests/mbr/DTCG50Compressor/R15_shroud.curve
tests/mbr/DTCG50Compressor/R15.inf
tests/mbr/DTCG50Compressor/R15.tst
tests/mbr/DTCG50Compressor/R16_hub.curve
tests/mbr/DTCG50Compressor/R16_profile.curve
tests/mbr/DTCG50Compressor/R16_shroud.curve
tests/mbr/DTCG50Compressor/R16.inf
tests/mbr/DTCG50Compressor/R16.tst
tests/mbr/DTCG50Compressor/R17_hub.curve
tests/mbr/DTCG50Compressor/R17_profile.curve
tests/mbr/DTCG50Compressor/R17_shroud.curve
tests/mbr/DTCG50Compressor/R17.inf
tests/mbr/DTCG50Compressor/R17.tst
tests/mbr/DTCG50Compressor/S01_hub.curve
tests/mbr/DTCG50Compressor/S01_profile.curve
tests/mbr/DTCG50Compressor/S01_shroud.curve
tests/mbr/DTCG50Compressor/S01.inf
tests/mbr/DTCG50Compressor/S01.tst
tests/mbr/DTCG50Compressor/S02_hub.curve
tests/mbr/DTCG50Compressor/S02_profile.curve
tests/mbr/DTCG50Compressor/S02_shroud.curve
tests/mbr/DTCG50Compressor/S02.inf
tests/mbr/DTCG50Compressor/S02.tst
tests/mbr/DTCG50Compressor/S03_hub.curve
tests/mbr/DTCG50Compressor/S03_profile.curve
tests/mbr/DTCG50Compressor/S03_shroud.curve
tests/mbr/DTCG50Compressor/S03.inf
tests/mbr/DTCG50Compressor/S03.tst
tests/mbr/DTCG50Compressor/S04_hub.curve
tests/mbr/DTCG50Compressor/S04_profile.curve
tests/mbr/DTCG50Compressor/S04_shroud.curve
tests/mbr/DTCG50Compressor/S04.inf
tests/mbr/DTCG50Compressor/S04.tst
tests/mbr/DTCG50Compressor/S05_hub.curve
tests/mbr/DTCG50Compressor/S05_profile.curve
tests/mbr/DTCG50Compressor/S05_shroud.curve
tests/mbr/DTCG50Compressor/S05.inf
tests/mbr/DTCG50Compressor/S05.tst
tests/mbr/DTCG50Compressor/S06_hub.curve
tests/mbr/DTCG50Compressor/S06_profile.curve
tests/mbr/DTCG50Compressor/S06_shroud.curve
tests/mbr/DTCG50Compressor/S06.inf
tests/mbr/DTCG50Compressor/S06.tst
tests/mbr/DTCG50Compressor/S07_hub.curve
tests/mbr/DTCG50Compressor/S07_profile.curve
tests/mbr/DTCG50Compressor/S07_shroud.curve
tests/mbr/DTCG50Compressor/S07.inf
tests/mbr/DTCG50Compressor/S07.tst
tests/mbr/DTCG50Compressor/S08_hub.curve
tests/mbr/DTCG50Compressor/S08_profile.curve
tests/mbr/DTCG50Compressor/S08_shroud.curve
tests/mbr/DTCG50Compressor/S08.inf
tests/mbr/DTCG50Compressor/S08.tst
tests/mbr/DTCG50Compressor/S09_hub.curve
tests/mbr/DTCG50Compressor/S09_profile.curve
tests/mbr/DTCG50Compressor/S09_shroud.curve
tests/mbr/DTCG50Compressor/S09.inf
tests/mbr/DTCG50Compressor/S09.tst
tests/mbr/DTCG50Compressor/S10_hub.curve
tests/mbr/DTCG50Compressor/S10_profile.curve
tests/mbr/DTCG50Compressor/S10_shroud.curve
tests/mbr/DTCG50Compressor/S10.inf
tests/mbr/DTCG50Compressor/S10.tst
tests/mbr/DTCG50Compressor/S11_hub.curve
tests/mbr/DTCG50Compressor/S11_profile.curve
tests/mbr/DTCG50Compressor/S11_shroud.curve
tests/mbr/DTCG50Compressor/S11.inf
tests/mbr/DTCG50Compressor/S11.tst
tests/mbr/DTCG50Compressor/S12_hub.curve
tests/mbr/DTCG50Compressor/S12_profile.curve
tests/mbr/DTCG50Compressor/S12_shroud.curve
tests/mbr/DTCG50Compressor/S12.inf
tests/mbr/DTCG50Compressor/S12.tst
tests/mbr/DTCG50Compressor/S13_hub.curve
tests/mbr/DTCG50Compressor/S13_profile.curve
tests/mbr/DTCG50Compressor/S13_shroud.curve
tests/mbr/DTCG50Compressor/S13.inf
tests/mbr/DTCG50Compressor/S13.tst
tests/mbr/DTCG50Compressor/S14_hub.curve
tests/mbr/DTCG50Compressor/S14_profile.curve
tests/mbr/DTCG50Compressor/S14_shroud.curve
tests/mbr/DTCG50Compressor/S14.inf
tests/mbr/DTCG50Compressor/S14.tst
tests/mbr/DTCG50Compressor/S15_hub.curve
tests/mbr/DTCG50Compressor/S15_profile.curve
tests/mbr/DTCG50Compressor/S15_shroud.curve
tests/mbr/DTCG50Compressor/S15.inf
tests/mbr/DTCG50Compressor/S15.tst
tests/mbr/DTCG50Compressor/S16_hub.curve
tests/mbr/DTCG50Compressor/S16_profile.curve
tests/mbr/DTCG50Compressor/S16_shroud.curve
tests/mbr/DTCG50Compressor/S16.inf
tests/mbr/DTCG50Compressor/S16.tst
tests/mbr/DTCG50Compressor/S17_hub.curve
tests/mbr/DTCG50Compressor/S17_profile.curve
tests/mbr/DTCG50Compressor/S17_shroud.curve
tests/mbr/DTCG50Compressor/S17.inf
tests/mbr/DTCG50Compressor/S17.tst
tests/mbr/DTCG50Compressor/Strut.inf
tests/mbr/DTCG50Compressor/Strut.tst
tests/mbr/DTCG50Compressor/Strut7_hub.curve
tests/mbr/DTCG50Compressor/Strut7_profile.curve
tests/mbr/DTCG50Compressor/Strut7_shroud.curve
tests/mbr/DTCG50Compressor/Unnamed.cfx.bak
tests/ndf/hannover_compressor.ndf
tests/ndf/turb_axial_4stage_geom.ndf
